body {
	background-color: #333;
	color: #f5f5f5;
}

.toolbar {
	background-color: #555;
}

.toolbar-button {
	color: #f5f5f5;
}

.logo {
	font-weight: bold;
	color: #f5f5f5;
}

.footer {
	background-color: #555;
	color: #f5f5f5;
}

.text-muted {
	color: #ddd;
}