<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="logo">Deal Hunter</span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/deal-form']" class="toolbar-button">Post New Deal</button>
    <button mat-button [routerLink]="['/deals']" class="toolbar-button">Deals</button>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="toolbar-button">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']" *ngIf="authenticationService.isAuthenticated$ | async"
        class="toolbar-button">My Profile</button>
      <button mat-menu-item [routerLink]="['/authentication']" [queryParams]="{mode: 'signup'}"
        *ngIf="!(authenticationService.isAuthenticated$ | async)" class="toolbar-button">Sign Up</button>
      <button mat-menu-item [routerLink]="['/authentication']" [queryParams]="{mode: 'signin'}"
        *ngIf="!(authenticationService.isAuthenticated$ | async)" class="toolbar-button">Sign In</button>
      <button mat-menu-item [routerLink]="['/authentication']" [queryParams]="{mode: 'signout'}"
        *ngIf="(authenticationService.isAuthenticated$ | async)" class="toolbar-button">Sign Out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Dealhuntr - help deal hunters land great deals</p>
  </div>
</footer>