<!-- authentication.component.html -->
<div class="form-container" *ngIf="mode === 'signin'">
	<form class="auth-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input matInput type="email" formControlName="email" required>
			<mat-error *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched">
				Please enter a valid email.
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password" required>
			<mat-error *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
				Password is required.
			</mat-error>
		</mat-form-field>

		<button mat-raised-button color="primary" type="submit">Sign In</button>
	</form>
</div>

<div class="form-container" *ngIf="mode === 'signup'">
	<form class="auth-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input matInput type="email" formControlName="email" required>
			<mat-error *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
				Please enter a valid email.
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input matInput type="password" formControlName="password" required>
			<mat-error *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
				Password is required.
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Confirm Password</mat-label>
			<input matInput type="password" formControlName="confirmPassword" required>
			<mat-error
				*ngIf="signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched">
				Confirm password is required.
			</mat-error>
		</mat-form-field>

		<button mat-raised-button color="primary" type="submit">Sign Up</button>
	</form>
</div>