<!-- authentication.component.html -->
<div class="form-container" *ngIf="mode === 'signin'">
	<form class="auth-form">
		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input matInput type="email" required>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input matInput type="password" required>
		</mat-form-field>

		<button mat-raised-button color="primary">Sign In</button>
	</form>
</div>

<div class="form-container" *ngIf="mode === 'signup'">
	<form class="auth-form">
		<mat-form-field appearance="fill">
			<mat-label>Email</mat-label>
			<input matInput type="email" required>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Password</mat-label>
			<input matInput type="password" required>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Confirm Password</mat-label>
			<input matInput type="password" required>
		</mat-form-field>

		<button mat-raised-button color="primary">Sign Up</button>
	</form>
</div>