<mat-card *ngIf="deal" class="deal-card">
	<mat-card-header>
		<mat-card-title>{{deal.ID}}: {{ deal.ItemName }} - {{ deal.StoreName }}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="deal-details">
			<p>Spotted {{secondsSinceCreation}} minutes ago</p>
			<p *ngIf="deal.Upvotes >0">Last Upvoted {{secondsSinceLastUpvote}} minutes ago</p>
			<div *ngIf="(authenticationService.isAuthenticated$ | async)" class="deal-actions">
				<mat-icon (click)="dealsService.downvoteDeal(deal)">thumb_down</mat-icon>
				<mat-icon (click)="dealsService.upvoteDeal(deal)">thumb_up</mat-icon>
				<mat-icon *ngIf="deal.User.ID == (authenticationService.userId$ | async)"
					(click)="dealsService.deleteDeal(deal)">delete</mat-icon>
				{{ deal.Upvotes }}
			</div>
		</div>
		<div class="deal-prices">
			<p>Retail Price: {{ deal.RetailPrice }}</p>
			<p>Actual Price: {{ deal.ActualPrice }}</p>
		</div>
		<p *ngIf="deal.Location" class="deal-location">Location - Lat: {{ deal.Location.Latitude | truncate }},
			Lon: {{
			deal.Location.Longitude | truncate
			}}
			({{locationService.calculateDistance(deal.Location) | truncate }} miles away)</p>
	</mat-card-content>
</mat-card>