<mat-card *ngIf="deal">
	<mat-card-header>
		<mat-card-title>{{deal.ID}}: Item: {{ deal.ItemName }}</mat-card-title>
		<mat-card-subtitle>Store: {{ deal.StoreName }}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<p>Posted {{getSecondsSinceCreation()}} minutes ago by {{deal.User.ID}}</p>
		<p>
			<mat-icon (click)="dealsService.downvoteDeal(deal)">thumb_down</mat-icon>
			<mat-icon (click)="dealsService.upvoteDeal(deal)">thumb_up</mat-icon>
			<mat-icon (click)="dealsService.deleteDeal(deal)">delete</mat-icon>
			{{ deal.Upvotes }}
			<span *ngIf="deal.Upvotes > 0">({{getSecondsSinceLastUpvote()}} minutes ago)</span>
		</p>
		<p>Retail Price: {{ deal.RetailPrice }}</p>
		<p>Actual Price: {{ deal.ActualPrice }}</p>
		<p *ngIf="deal.Location">Location - Lat: {{ deal.Location.Latitude | truncate }}, Lon: {{
			deal.Location.Longitude | truncate
			}}
			({{locationService.calculateDistance(deal.Location) | truncate }} miles away)</p>
	</mat-card-content>
</mat-card>