<mat-card *ngIf="deal" class="deal-card">
	<mat-card-header>
		<div class="header-content">
			<span class="store-name">Store: {{ deal.StoreName }}</span>
			<span class="item-name">Item: {{ deal.ItemName }}</span>
		</div>
	</mat-card-header>


	<mat-card-content>
		<div class="deal-details">
			<p>Spotted {{secondsSinceCreation}} minutes ago</p>
			<p *ngIf="deal.Upvotes >0">Last Upvoted {{secondsSinceLastUpvote}} minutes ago</p>
			<div *ngIf="(authenticationService.isAuthenticated$ | async)" class="deal-actions">
				<mat-icon (click)="dealsService.downvoteDeal(deal)">thumb_down</mat-icon>
				<mat-icon (click)="dealsService.upvoteDeal(deal)">thumb_up</mat-icon>
				<mat-icon *ngIf="deal.User.ID == (authenticationService.userId$ | async)"
					(click)="dealsService.deleteDeal(deal)">delete</mat-icon>
				{{ deal.Upvotes }}
			</div>
		</div>
		<div class="deal-prices">
			<p>Retail Price: {{ deal.RetailPrice }}</p>
			<p style="color: green">Actual Price: {{ deal.ActualPrice }}</p>
		</div>
		<p *ngIf="deal.Location" class="deal-location">
			Address: {{dealAddress}}
			<!-- Location - Lat: {{ deal.Location.Latitude | truncate }},
			Lon: {{
			deal.Location.Longitude | truncate
			}} -->
			({{locationService.calculateDistance(deal.Location) | truncate }} miles away)
		</p>
	</mat-card-content>
</mat-card>