<form [formGroup]="dealForm" (ngSubmit)="onSubmit()" class="deal-form">
	<mat-form-field>
		<mat-label>Retail Price</mat-label>
		<input matInput formControlName="retailPrice" type="number" placeholder="Enter retail price in USD">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Actual Price</mat-label>
		<input matInput formControlName="actualPrice" type="number" placeholder="Enter actual price in USD">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Store Name</mat-label>
		<input matInput formControlName="storeName" placeholder="Enter store name">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Item Name</mat-label>
		<input matInput formControlName="itemName" placeholder="Enter item name">
	</mat-form-field>

	<mat-form-field>
		<mat-label>Address</mat-label>
		<input matInput formControlName="address" placeholder="Enter address"
			[value]="locationService.address$ | async">
	</mat-form-field>

	<button mat-raised-button color="primary" type="submit" [disabled]="!dealForm.valid">Submit</button>
</form>